<footer class="bg-dark text-center text-lg-start ">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <img src="{{ url_for('static', filename='images/dabrownsugar-01.png') }}" class="img-fluid" alt="...">
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0 text-light">Useful links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://callofdutyleague.com/en-us/" class="text-light text-decoration-none">CDL League</a>
          </li>
          <li>
            <a href="https://callofdutyleague.com/en-us/teams?utm_source=cdlweb&utm_medium=navigationbar&utm_campaign=general" class="text-light text-decoration-none">Meet the Teams</a>
          </li>
          <li>
            <a href="https://callofdutyleague.com/en-us/schedule?utm_source=cdlweb&utm_medium=navigationbar&utm_campaign=general" class="text-light text-decoration-none">Schedule</a>
          </li>
          <li>
            <a href="https://callofdutyleague.com/en-us/challengers/how-to-compete?utm_source=challengersweb&utm_medium=navigationbar&utm_campaign=general" class="text-light text-decoration-none">How to Compete!</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Contact</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a class="text-light text-decoration-none">Email: hiitsbraxton@gmail.com</a>
          </li>
          <li>
            <a class="text-light text-decoration-none">Phone: (208)-555-1234</a>
          </li>
          <li>
            <a href="https://www.instagram.com/braxton_quintero/" class="text-light text-decoration-none">Instagram</a>
          </li>
          <li>
            <a href="https://www.instagram.com/braxton_quintero/" class="text-light text-decoration-none">Facebook</a>
          </li>
        </ul>

      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">About Us</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a class="text-light text-decoration-none">One Stop Shop</a>
          </li>
          <li>
            <a class="text-light text-decoration-none">Find and Play With New Friends</a>
          </li>
          <li>
            <a class="text-light text-decoration-none">Find 8's Lobbys</a>
          </li>
          <li>
            <a class="text-light text-decoration-none">Watch Call of Duty with Other Fans</a>
          </li>
        </ul>

      </div>

    </div>

  </div>

  <div class="text-center text-light">
    © 2022 Copyright:
    <a class="text-light text-decoration-none">Braxton Quintero</a>
  </div>
</footer>