<div class="card">
    <div class="card-header bg-primary text-center fw-semibold fs-3">
      Featured
    </div>
    <div class="card-body text-center">
        <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
                <img src="https://picsum.photos/200/200" class="img-thumbnail" alt="...">
              </div>
              <div class="col">
                Useful Links
              </div>
              <div class="col">
                Contact
              </div>
        </div>
    </div>
    </div>
</div>