{% extends "base.html" %}

{% if current_user.is_authenticated %}
<h1 class="text-center">Hello {{ current_user }}!</h1>
{% else %}
<h1 class="text-center">Hello, please sign up or login to use the blog</h1>
{% endif %}

{% block content %}

<div class="row align-items-center justify-content-evenly">
    <div class="col bg-primary m-5 ">
      <h1>About Call of Duty Hub</h1>
    </div>
    <div class="col bg-primary mt-5 text text-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/a3Ul4pq3cTY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <p><a target="iframe_a">Competitive Call Of Duty!</a></p>

    </div>
    <div class="col bg-primary m-5">
      <h1>Leaderboard</h1>
      <p>This is where display of leaderboard will be</p>
    </div>
</div>

{% endblock content %}