<div>
    <h1 class="text-center">Welcome User to Call of Duty Hub</h1>
</div>

<div class="row align-items-center justify-content-evenly">
    <div class="col bg-primary m-5 ">
      <h1>About Call of Duty Hub</h1>
    </div>
    <div class="col bg-primary mt-5 text text-center">
      <iframe src="demo_iframe.htm" name="iframe_a" title="Iframe Example"></iframe>

      <p><a class="text-light text-decoration-none" href="https://www.youtube.com/@CODLeague" target="iframe_a">Competitive Call Of Duty!</a></p>

    </div>
    <div class="col bg-primary m-5">
      <h1>Leaderboard</h1>
      <p>This is where display of leaderboard will be</p>
    </div>
</div>