{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<h1 class="text-center mt-3">Welcome {{ current_user.username }}!</h1>
{% else %}
<h1 class="text-center mt-3">Welcome, please sign up or login to use the Call Of Duty Hub</h1>
{% endif %}

<div class="container text-center my-4">
  <div class="row align-items-start">
    <div class="col">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/a3Ul4pq3cTY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="row align-items-center justify-content-evenly">
    <div class="col bg-dark text-light m-5 ">
      <h1>About Us</h1>
    </div>
    <div class="col bg-dark text-light m-5">
      <h1>Leaderboard</h1>
      <p>This is where display of leaderboard will be</p>
    </div>
</div>

{% endblock content %}